// .backdrop
//     .love-msg
//         h4.give.effect-shine Cho đi là còn mãi
//         p Hãy gửi lời chúc tốt đẹp đến mọi người và nhận được một lời chúc khác nhé!
//     .brand
//         .logo
//             img(src="./images/2022.png", alt="2022")
//         .tiger
//             img(src="./images/tiger.png", alt="./images/tiger")
//     <div class="content">
//         <form action="">
//             <button class="send-btn" type="submit">Send</button>
//             <input id="input_name" type="text" placeholder="Tên của bạn">
//             <input id="input_msg" type="text">
//         </form>
//     </div>
.backdrop {
  background-color: #ac2522;
  height: 100vh;
  .love-msg {
    // display: none;
    // background-color: #f1f1f1;
    padding: 50px 30px;
    text-align: center;
    color: #fbb139;
    h1 {
      // font-size: 3em;
      margin: 10px;
      display: block;
      height: 43px !important;
    }
    p {
    }
  }
  .brand {
    width: 70%;
    // height: 50vh;
    // background-color: black;
    margin: 10px auto;
    padding: 0 10px;
    text-align: center;
    position: relative;
    .logo {
      width: 85%;
      // background-color: blue;
      margin: 0 auto;

      img {
        background-size: cover;
        width: 100%;
      }
    }

    .tiger {
      // background-color: aqua;
      width: 32%;
      position: absolute;
      left: 22%;
      top: -1%;
      animation: tilt-shaking 0.3s infinite;
      img {
        background-size: cover;
        width: 100%;
      }
    }
  }

  .send-button {
    padding: 20px 10px;
    position: absolute;
    z-index: 1;
    left: 250px;
    font-size: 40px;
    color: #fbb139;
    opacity: 0.7;
  }

  .content {
    max-width: 480px;
    // position: absolute;
    margin: 0 auto;
    padding: 0 30px;
    // background-color: #FABD4A;
    z-index: 2;
    form {
      .send-btn {
        background: linear-gradient(to right, #cc232a, #f51c1c, #cc232a);
        font-size: 18px;
        width: 15.58333333%;
        float: right;
        padding: 50px 10px;
        color: #ffd84b;
        border-radius: 2px;
        cursor: pointer;
        border: none;
        border-radius: 0 25px 25px 0;
        outline-offset: -5px;
        outline: 1px solid #f59f00;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
      }

      #input_msg {
        padding-left: 16px;
        padding-right: 34px;
        word-wrap: break-word;
        border: solid 1px rgba(255, 255, 255, 0.8);
        border-radius: 25px 0 0 25px;
        background: linear-gradient(to right, #cc232a, #f51c1c, #cc232a);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        font-size: 18px;
        min-height: 120px;
        width: 82.33333333%;
        border: 2px solid #ffd84b;
        font-weight: 500;
        color: #ffd84b;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}

#input_name:hover {
  border-color: #ffffff;
  background: #ffffff;
  color: #002e40;
}

.send-btn:active {
  border-color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.9);
  color: #002e40;
  box-shadow: none;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 840px) {
  .backdrop {
    .love-msg {
      padding-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 840px) {
  .backdrop {
    .love-msg {
      h1 {
        height: 86px !important;
        font-size: 18pt;
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .backdrop {
    .content {
      form {
        .send-btn {
          float: none;
          width: 100%;
          border-radius: 0 0 25px 25px;
          padding: 10px 0;
        }
        #input_msg {
          float: none;
          border-radius: 25px 25px 0 0;
          width: 100%;
          margin-bottom: 2px;
        }
      }
    }
  }
}

