canvas {
    pointer-events: none;
}

.page-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 7;
}

.h-scroll {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.landing {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    background: radial-gradient(
        circle,
        rgba(245, 172, 39, 1) 0%,
        rgba(204, 35, 42, 1) 46%
    );
    user-select: none;
    position: relative;
}

.round {
    width: 100%;
    height: 100%;
    border: 6px solid #ffd84b;
    box-sizing: border-box;
    position: relative;
}

.upLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.fence {
    position: absolute;
}

.fence-t-l {
    top: 8px;
    left: 8px;
}

.fence-t-r {
    top: 8px;
    right: 8px;
}

.fence-b-l {
    bottom: 8px;
    left: 8px;
}

.fence-b-r {
    bottom: 8px;
    right: 8px;
}

.bottom-cloud {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    z-index: 5;
    pointer-events: none;
}

.cloud {
    width: 100%;
    height: 100%;
    position: relative;
}

.cloud img {
    object-fit: contain;
    max-height: 100%;
}

.r-circle-cloud {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(70%) scaleX(-1);
    animation: moving 5s infinite linear;
    z-index: 4;
}

.r-big-cloud {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(1.5) translateX(-30%) translateY(20%);
    z-index: 5;
}

.fan {
    width: auto;
    max-height: 40vh;
    transform: translate(-150%, 80%) scale(2);
    position: absolute;
    z-index: 4;
    animation: moving2 5s infinite linear;
}

.flipX {
    transform: scaleX(-1);
}

.lantern--big {
    width: auto;
    position: absolute;
    pointer-events: none;
}

.lantern--big img {
    object-fit: contain;
    max-height: 100%;
    animation: glowing 10s infinite;
}

@keyframes glowing {
    0% {
        filter: drop-shadow(0px 4px 24px #ffd84b);
    }

    50% {
        filter: drop-shadow(0px 4px 12px #ffd84b);
    }

    100% {
        filter: drop-shadow(0px 4px 24px #ffd84b);
    }
}

.lantern-0 {
    height: 40vh;
    right: 0;
    top: 0;
    transform-origin: top center;
    animation: swinging 3.5s ease-in-out forwards infinite;
    animation-delay: 0.5s;
    transform: rotate(6deg);
    z-index: 6;
}

.lantern-1 {
    height: 20vh;
    right: 350px;
    top: 34px;
    transform-origin: top center;
    animation: swinging 3.5s ease-in-out forwards infinite;
    animation-delay: 0.5s;
    transform: rotate(6deg);
}

.lantern-2 {
    height: 20vh;
    right: 200px;
    top: 0;
    transform-origin: top center;
    animation: swinging 3.5s ease-in-out forwards infinite;
    animation-delay: 0.5s;
    transform: rotate(6deg);
    z-index: 5;
}

.lantern-3 {
    height: 20vh;
    right: 450px;
    top: 34px;
    transform-origin: top center;
    animation: swinging 3.5s ease-in-out forwards infinite;
    animation-delay: 0.5s;
    transform: rotate(6deg);
}

.blossom {
    height: auto;
    right: 200px;
    top: 0;
    right: 0;
    width: 400px;
    position: absolute;
    z-index: 7;
}

.blossom-1 {
    width: 400px;
    left: 0;
    top: 30vh;
    z-index: 5;
}

.blossom img {
    object-fit: contain;
    max-width: 100%;
}

@keyframes swinging {
    0% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    50% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    100% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

@keyframes moving {
    0% {
        bottom: 0px;
        right: 0px;
    }
    20% {
        bottom: 10px;
        right: 10px;
    }
    40% {
        bottom: 0px;
        right: 10px;
    }
    60% {
        bottom: -10px;
        right: 0px;
    }
    80% {
        bottom: 0px;
        right: -10px;
    }
    100% {
        bottom: 0px;
        right: 0px;
    }
}

@keyframes moving2 {
    0% {
        bottom: 0px;
        right: 0px;
    }
    20% {
        bottom: -10px;
        right: -10px;
    }
    40% {
        bottom: 0px;
        right: -10px;
    }
    60% {
        bottom: 10px;
        right: 0px;
    }
    80% {
        bottom: 0px;
        right: 10px;
    }
    100% {
        bottom: 0px;
        right: 0px;
    }
}

@media (min-width: 2600px) {
    .r-circle-cloud {
        left: 0;
    }
}

@media (max-width: 992px) {
    .fan {
        z-index: 0;
        transform: translate(-80%, 80%) scale(2);
    }
}

@media (max-width: 720px) {
    #arrowAnim {
        zoom: 0.5;
    }
    .blossom-1 {
        width: 300px;
    }
    .fan {
        z-index: 0;
        transform: translate(-50%, 80%) scale(2);
    }
    .r-circle-cloud {
        z-index: 1;
    }
    .landing {
        padding: 16px;
    }
    .lantern-1,
    .lantern-3 {
        display: none;
    }
}

@media (max-width: 512px) {
    .fence {
        width: 40vw;
    }

    .fence img {
        object-fit: contain;
        max-width: 100%;
    }

    .slide-btn {
        opacity: 0.5;
    }
}

@media (max-height: 400px) {
    .fence {
        height: 40vh;
    }

    .fence img {
        object-fit: contain;
        max-height: 100%;
    }
}

.slide-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100vh;
    transition: all 0.1s;
    cursor: pointer;
    user-select: none;
    z-index: 20;
}

.slide-btn:hover #arrowAnim {
    transform: scale(1.3);
}

.slide-btn-left {
    left: 0;
    top: 0;
}

.slide-btn-right {
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

#arrowAnim {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.arrow {
    width: 30px;
    height: 30px;
    border: 4px solid;
    border-color: #f2f2f2 transparent transparent #f2f2f2;
    transform: rotate(-45deg);
}

.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }
    20% {
        opacity: 1;
        transform: translateX(9px);
    }
    80% {
        opacity: 1;
        transform: translateX(-9px);
    }
    100% {
        opacity: 0;
        transform: translateX(-15px);
    }
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }
    20% {
        opacity: 1;
        transform: translateX(9px);
    }
    80% {
        opacity: 1;
        transform: translateX(-9px);
    }
    100% {
        opacity: 0;
        transform: translateX(-15px);
    }
}
