.section-wish {
    position: absolute;
    z-index: 999;
}

.backdrop {
    background-color: transparent;
    height: 100vh;
}
.backdrop .love-msg {
    padding: 50px 30px;
    text-align: center;
    color: #fbb139;
}
.backdrop .love-msg h4 {
    font-size: 30px;
    padding: 10px;
}
.backdrop .brand {
    width: 100%;
    height: auto;
    padding: 0 10px;
    text-align: center;
    position: relative;
}
.backdrop .brand .logo {
    width: 85%;
    margin: 0 auto;
}
.backdrop .brand .logo img {
    background-size: cover;
    width: 100%;
}
.backdrop .brand .tiger-1 {
    width: 32%;
    position: absolute;
    left: 22%;
    top: -1%;
    animation: tilt-shaking 0.3s infinite;
}
.backdrop .brand .tiger-1 img {
    background-size: cover;
    width: 100%;
}
.backdrop .send-button {
    padding: 20px 10px;
    position: absolute;
    z-index: 1;
    left: 250px;
    font-size: 40px;
    opacity: 0.7;
}
.backdrop .content {
    max-width: 480px;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    left: 200px;
}
.backdrop .content form .send-btn {
    padding: 50px 10px;
    width: 70px;
    float: right;
    border: none;
    border: solid 1px rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 12pt;
    text-align: center;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    color: #002e40;
}
.backdrop .content form .send-btn :hover {
    border-color: #ffffff;
    background: #ffffff;
    color: #002e40;
}
.backdrop .content form #input_name {
    min-height: 50px;
    width: 400px;
    border: solid 1px rgba(255, 255, 255, 0.8);
    padding: 10px 25px;
    color: #002e40;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 25px 0 0 0;
    font-size: 11pt;
}
.backdrop .content form #input_msg {
    width: 400px;
    border: solid 1px rgba(255, 255, 255, 0.8);
    color: #002e40;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 11pt;
    font-size: 18px;
    border-radius: 0 0 0 25px;
    min-height: 68px;
    height: 40px;
    border-top: none;
    margin-top: 2px;
    padding-left: 16px;
    padding-right: 34px;
}

#input_name:hover {
    border-color: #ffffff;
    background: #ffffff;
    color: #002e40;
}

.send-btn:active {
    border-color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.9);
    color: #002e40;
    box-shadow: none;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 1s infinite ease-in;
}

.bubble:nth-child(1) {
    width: 12px;
    height: 12px;
    left: 10%;
    animation-duration: 8s;
}

.bubble:nth-child(2) {
    width: 6px;
    height: 6px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 0s;
}

.bubble:nth-child(3) {
    width: 15px;
    height: 15px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 0s;
}

.bubble:nth-child(4) {
    width: 24px;
    height: 24px;
    left: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 10.5px;
    height: 10.5px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.bubble:nth-child(6) {
    width: 13.5px;
    height: 13.5px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 0s;
}

.bubble:nth-child(7) {
    width: 27px;
    height: 27px;
    left: 70%;
    animation-duration: 12s;
    animation-delay: 0s;
}

.bubble:nth-child(8) {
    width: 7.5px;
    height: 7.5px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.bubble:nth-child(9) {
    width: 4.5px;
    height: 4.5px;
    left: 70%;
    animation-duration: 5s;
    animation-delay: 0s;
}

.bubble:nth-child(10) {
    width: 27px;
    height: 27px;
    left: 25%;
    animation-duration: 10s;
    animation-delay: 0s;
}

@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translate(100px);
    }
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}
@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0eg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes upthenscale {
    0% {
        transform: translateY(250px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        height: 100px;
        width: 90px;
        transform: translateY(0);
    }
    100% {
        height: 250px;
        width: 100%;
        transform: translateY(0);
    }
}
@keyframes scalethendown {
    0% {
        height: 250px;
        width: 100%;
        transform: translateY(0);
    }
    50% {
        height: 100px;
        width: 90px;
        transform: translateY(0);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(250px);
    }
}
@keyframes waitfade {
    0%,
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes wiggle {
    0% {
        transform: translateY(310px) rotate(0);
    }
    25% {
        transform: translateY(310px) rotate(2deg);
    }
    50% {
        transform: translateY(310px) rotate(0deg);
    }
    75% {
        transform: translateY(310px) rotate(-2deg);
    }
    100% {
        transform: translateY(310px) rotate(0);
    }
}
.letter {
    margin: 150px auto;
    max-width: 350px;
    height: 375px;
    overflow: hidden;
    display: block;
    position: fixed;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}

.letter--open .paper {
    animation-name: upthenscale;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.letter--close .paper {
    animation-name: scalethendown;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.letter--open .paper-content {
    animation-name: waitfade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.letter--open .envelope {
    animation: pause;
}

.paper-content {
    color: #545454;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 25px;
    opacity: 0;
}

.paper {
    height: 50px;
    width: 90px;
    background: #f1f0c3;
    transform: translateY(250px);
    margin: 0 auto;
    transition: transform 0.3s 0.1s ease;
    border-radius: 2px;
    position: relative;
}

.envelope {
    width: 94px;
    height: 60px;
    background: #ac2522;
    position: relative;
    margin: auto;
    z-index: 2;
    cursor: pointer;
    border-radius: 3px;
    transition: box-shadow 0.3s ease;
    transform: translateY(310px);
    animation: wiggle 0.3s 0.2s infinite;
}
.envelope:hover {
    animation: pause;
}
.envelope:hover .envelope-paper {
    transform: translateY(-20px);
}
.envelope:hover .envelope-flap {
    transform: translateY(-45px);
}
.envelope:hover .envelope-detail::after {
    visibility: hidden;
}

.envelope-paper {
    height: 50px;
    width: 90px;
    background: #f1f0c3;
    transform: translateY(0);
    margin: 0 auto;
    transition: transform 0.3s 0.1s ease;
    border-radius: 2px;
    position: absolute;
    border: 2px solid transparent;
}

.letter--open .envelope-paper {
    visibility: hidden;
}

.letter--open .envelope-detail::after {
    visibility: hidden;
}

.letter--close .envelope-paper {
    visibility: hidden;
}

.envelope-flap {
    content: "";
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 45px solid #ac2522;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transform: translateY(0);
}

.letter--open .envelope-flap {
    transform: translateY(-45px);
}

.letter--open .envelope-detail {
    border-top: 2px solid #e25b5b;
}

.envelope-detail {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background: #ac2522;
    border-top: 2px solid transparent;
}
.envelope-detail:before {
    content: "";
    width: 70px;
    height: 70px;
    background: #ac2522;
    display: inline-block;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    transform: rotate(45deg);
    border: 4px solid #e65454;
}
.envelope-detail:after {
    content: "";
    width: 70px;
    height: 70px;
    background: #ac2522;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    margin: auto;
    transform: rotate(45deg);
    border: 4px solid #e65454;
}

.envelope__fold {
    height: 25px;
    width: 86px;
    background: #ac2522;
    border: 4px solid #e65454;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.paper-close {
    position: absolute;
    right: 10px;
    top: 5px;
    display: inline-block;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.displayNone {
    display: none;
}
