.backdrop
    .love-msg
        h1.give.word Cho đi là còn mãi 
        p Hãy gửi lời chúc tốt đẹp đến mọi người và nhận được một lời chúc khác nhé!
    .brand
        .logo 
            img(src="./images/2022.png", alt="2022")
        .tiger
            img(src="./images/tiger.png", alt="./images/tiger")
    <div class="content">
        <form>
            <input id="input_msg" type="text" wrap="hard">
            <button class="send-btn" type="submit">Gửi</button>
        </form>
    </div>

        